@font-face {
    font-family: "Chalk";
    src: url("../font/ColoredCrayons.ttf");
}

body {
    background-image: url(../images/tableau.jpeg);
    margin: 0;
}

#titleGame {
    font-family: 'chalk', serif;
    color: rgba(255, 255, 255, 0.5);
    font-size: 4rem;
    letter-spacing: 8px;
    text-align: center;
    margin-top: 1rem;
}

#canvas {
    display: block;
    margin: 5em auto 3em auto;
}

#boardContent {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.boardGame {
    font-family: 'chalk', serif;
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.6);
    background: none;
    border: none;
    outline: 0;
}

.boardGame:hover {
    color: rgba(154, 255, 163, 0.5);
}

.select {
    color: rgba(154, 255, 163, 0.5);
    border-bottom: 5px solid rgba(255, 255, 255, 0.4);
}

.separate {
    margin: 0 2rem;
}

#twoPlayers {
    margin-left: 0.5rem;
}

#user {
    font-family: 'chalk', serif;
    color: rgba(255, 255, 255, 0.6);
    font-size: 2rem;
    letter-spacing: 8px;
    text-align: center;
    margin: 0;
}